    .container {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .h3-title {
        min-width: 25px;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #495057;
        margin-right: 10px;
    }

    .sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin: 0px;
    }
    .sort-dropdown {
        display: flex;
        position: relative;
        display: inline-block;
        color: #e0b8b8;
        width: 95%;
    }
    .sort-btn, .sort-btn2 {
        background-color: #FFFFFF08 !important;
        color: #495057;
        padding: 6px 8px 5px 13px;
        gap: 8px;
        border-radius: 10px;
        border: 1px solid #5C95D95C;
        cursor: pointer;

    }
    .sort-btn .arrow, .sort-btn2 .arrow {
        font-size: 12px;
        margin-left: 8px;
        display: inline-block;
        width: 12px; /* 아이콘의 너비와 높이를 동일하게 설정 */
        height: 12px;
        text-align: center; /* 아이콘을 가운데 정렬 */
    }
    .sort-content{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 35px;
        background-color: #f9f9f9;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000 !important;
        border: 1px solid var(--border-color);
        border-radius: 5px;
    }

    .sort-content2 {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 35px;
        background-color: #f9f9f9;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000 !important;
        border: 1px solid var(--border-color);
        border-radius: 5px;
    }

    .sort-content a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        width: 100%; /* 가로 너비를 부모 요소에 맞춤 */
        box-sizing: border-box; /* 패딩 포함한 크기 설정 */
        border-bottom: 1px solid #ddd; /* 항목 사이에 구분선 추가 */
    }

    .sort-content a:hover {
        background-color: #f1f1f1;
    }

    .sort-content2 a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        width: 100%; /* 가로 너비를 부모 요소에 맞춤 */
        box-sizing: border-box; /* 패딩 포함한 크기 설정 */
        border-bottom: 1px solid #ddd; /* 항목 사이에 구분선 추가 */
    }

    .sort-content2 a:hover {
        background-color: #f1f1f1;
    }

    #filter-form {
        display: flex;
        min-width: 500px;
        width: 100%;
        margin: 0;
    }

    .apply-btn {
        height: 100%;
        border-radius: 10px;
        background-color: #D9D9D94D;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.5px;
        text-align: left;
        color: #8391A1;

    }
    .apply-btn.active {
        height: 100%;
        border-radius: 10px;
        background-color: #5C95D9 !important;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.5px;
        text-align: left;
        color: #FFFFFF;
    }

    #filter-form input {
        margin-bottom: 0;
    }

    .h-scrollable-table {
        overflow: visible;
    }

    .div-table {
        width: 100%;
        border: 1px solid var(--border-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
        background: #FFFFFF;
    }

    .users-table {
        width: 100%;
        margin: auto;
        font-size: 14px;
        font-weight: normal;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        background: #FFFFFF;
    }
    .table.striped tr:nth-child(even) {
        background: rgba(0, 0, 0, 0.02);
    }

    .users-table th,
    .users-table td {
        padding: 3px 20px;
    }
    .users-table thead th {
        height: 40px;
        border: 1px #D9D9D9;
        background: rgba(0, 0, 0, 0.03);
    }

    .users-table thead tr th {
        border: none;
        font-size: 15px;
    }

    .users-table thead tr th a {
        font-size: 14px;
        font-weight: 400;
        color: var(--font-basic-black);
    }
    .header.points {
        position: relative; /* 기준점 설정 */
        padding: 5px 7px; /* 기존보다 줄인 패딩 적용 */
    }

    .header.points ::after {
        content: "";
        position: absolute;
        bottom: 33px;
        left: 0;
        width: 100%;
        height: 1px;
        line-height: 1px;
        background-color: rgba(217, 217, 217, 0.58);
    }

    .point-denominator {
        font-size: 16px;
        font-weight: 600;
        color: #78C0B9;
        margin-top: 5px;
        align-items: center;
    }
    .users-table tbody tr {
        transition: background-color linear 0.2s;
        height: 45px;
    }
    .users-table tbody tr:hover{
        background: rgba(0, 0, 0, 0.05) !important;
    }
    .users-table tbody td {
        border: none;
        padding: 0;
    }
    .users-table th {
        background-color: #FFFFFF;
        color: black;
        border: 1px solid var(--border-color);
        font-size: 14px;;
        font-style: normal;
        border-left: none;
        border-right: none;
        height: 25px;
    }
    .users-table .header{
        font-weight: normal;
    }
    .users-table .header.rank {
        width: 10%;
    }
    .users-table .header.username {
        display: none; /* 학번(사번) 안보이게 수정 */
        width: 10%;
        text-align: center;
    }
    /* USERS에 이름 컬럼 추가 */
    .users-table .header.first_name {
        width: 15%;
        text-align: center;
        padding-right: 30px;
    }
    .users-table .header.information {
        width: 58%;
        text-align: left;
        padding-left: 20px;
    }
    .users-table .header.department {
        width: 15%;
    }
    .users-table .user-department {
        width: 65%;
    }
    .users-table .user-first_name {
        text-align: left;
        padding: 10px;
    }
    .users-table .user-first_name a {
        color: var(--font-basic-black);
    }
    .users-table .user-name {
        display: none; /* 학번(사번) 안보이게 수정 */
        text-align: left;
    }
    .users-table .user-information {
        padding: 10px;
        text-align: left;
    }
    .users-table .user-information div {
        width: 720px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 20px;
    }
    .search-container {
        position: relative;
        display: flex;
        border-radius: 8px;
        background: #FFFFFF;
        margin-left: auto;
        width: 250px;
        height: 35px;
    }
    .search-container input[type="text"] {
        border: 1px solid #DADADA;
        border-radius: 8px;
        color: #8391A1;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }

    .search-container .fa-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); /* Center icon vertically */
        right: 10px; /* Adjust right spacing */
        color: #5C95D9;
        pointer-events: none; /* Prevent icon from being clickable */
    }

    #filter-form {
        display: flex;
        min-width: 500px;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    #filter-form input {
        height: 35px;
        margin-bottom: 0;
        padding: 0;
        padding-left: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        border: none;
        transition: box-shadow 0.2s ease;
    }
    #filter-form input:hover {
        transition: box-shadow 0.2s ease;
        box-shadow: 0 4px 6px rgba(82, 168, 236, 0.15);
    }
    #filter-form input::placeholder {
        color: var(--font-grey);
        font-size: 14px;
    }
