{% extends "base.html" %}

{% block media %}{% endblock %}

{% block body %}
<div class="auth-flow-form">
    <h2>이메일 변경</h2>
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        {% if form.errors %}
            <div id="form-errors">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {{ form.username }}
        {{ form.password }}

        <!-- 이메일 부분을 회원가입 페이지와 동일하게 -->
        <span class="email-input-wrapper{% if form.email_local.errors %}-error{% endif %}">
            {{ form.email_local }}
            {{ form.email_domain }}
            <span class="email_domain">@jbnu.ac.kr</span>
        </span>

        {% if form.email_local.errors %}
            <div class="form-field-error">{{ form.email_local.errors }}</div>
        {% endif %}

        <button type="submit" class="button">{{ _('이메일 변경') }}</button>
    </form>
</div>
{% endblock %}
