{% extends "base.html" %}

{% block media %}{% endblock %}

{% block body %}
    <div class="auth-flow-form">
        <form action="" method="post" class="form-area">
            <h2>아이디 찾기</h2>
            {% csrf_token %}
            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div id="form-errors">
                            <p class="error">{{ error }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {# <!-- <table border="0">{{ form.as_table() }}</table> --> #}
            {% if form.non_field_errors %}
                <div class="error-message">
                    <ul>
                        {% for error in form.non_field_errors() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
           {% endif %}
            <span class="email-input-wrapper{% if form.email.errors %}-error{% endif %}">
                {{ form.email }}
            </span>
            
            <button style="float:right;" type="submit">메일 발송하기</button>
            <a href="{{ url('auth_login') }}" class="button">{{ _('로그인 페이지로 돌아가기') }}</a>
        </form>
    </div>
{% endblock %}