{% extends "base.html" %}

{% block media %}{% endblock %}

{% block body %}
<div class="auth-flow-form">
    <h2>관리자 로그인</h2>
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    {% if error == form.error_messages.invalid_login %}
                        <div id="form-errors" class="invalid_login">
                            <p class="error">{{ error }}</p>
                        </div>
                    {% elif error == form.error_messages.inactive %}
                        <div id="form-errors" class="inactive">
                            <p class="error">{{ error }}</p>
                            <p>도움이 필요하신가요?</p>
                            <p>
                                <a href="{{ url('email_change') }}">이메일 변경</a> |
                                <a href="{{ url('resend_activation_email') }}">활성화 메일 재전송</a>
                            </p>
                        </div>
                    {% else %}
                        <div id="form-errors">
                            <p class="error">{{ error }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {{ form.username }}
        {{ form.password }}
        <div class="form-links">
            <a href="{{ url('id_find') }}">{{ _('아이디 찾기') }}</a> |
            <a href="{{ url('password_reset') }}">{{ _('비밀번호 초기화') }}</a>
        </div>
        <button type="submit" class="button">{{ _('로그인') }}</button>
        
    </form>
</div>


{% endblock %}