{% extends "base.html" %}

{% block media %}{% endblock %}

{% block body %}
<div class="auth-flow-form">
    <h2>활성화 메일 재전송</h2>
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        {% if form.errors %}
            <div id="form-errors">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {{ form.username }}
        {{ form.password }}

        <button type="submit" class="button">{{ _('활성화 메일 재전송') }}</button>
    </form>
</div>
{% endblock %}
