<!-- users 페이지 -->

{% extends "common-content.html" %}

{# {% block js_media %}
    {% block users_js_media %}{% endblock %}
    <script>
        $(function () {
            $('#search-handle').replaceWith($('<select>').attr({
                id: 'search-handle',
                name: 'handle',
                onchange: 'form.submit()'
            }));
            var in_user_redirect = false;
            $('#search-handle').select2({
                theme: '{{ DMOJ_SELECT2_THEME }}',
                placeholder: '{{ _('사용자 검색') }}',
                ajax: {
                    url: '{{ url('user_search_select2_ajax') }}'
                },
                minimumInputLength: 1,
                templateResult: function (data, container) {
                    return $('<span>')
                        .append($('<img>', {
                            'class': 'user-search-image', src: data.gravatar_url,
                            width: 24, height: 24
                        }))
                        .append($('<span>', {'class': data.display_rank + ' user-search-name'}).text(data.text));
                }
            }).on('select2:selecting', function () {
                return !in_user_redirect;
            });

            var $last = null;
            $(window).on('hashchange', function () {
                var hash = window.location.hash;
                if (hash.startsWith('#!')) {
                    // 해시 값을 디코딩하여 유효한 CSS 선택자로 변환
                    var decodedHash = decodeURIComponent(hash.substring(2));
                    var $user = $('#user-' + decodedHash);
                    if ($user) {
                        // 이전 강조 요소의 배경색 초기화
                        if ($last !== null) $last.css('background-color', '');
                        
                        // 현재 요소의 배경색 강조, 하이라이팅 색은 알아서 수정해주세요.
                        $user.css('background-color', 'lightblue');
                        $(document).scrollTop($user.position().top - 50);
                        if ($last !== null) $last.removeClass('highlight');
                        $last = $user;
                    }
                }
            }).trigger('hashchange');
        });
    </script>
{% endblock %}
#}

{% block media %}
    {% block users_media %}{% endblock %}
{% endblock %}

{% block body %}
    {#
    <!-- {% if page_obj and page_obj.has_other_pages() %}
        <div class="top-pagination-bar">
            {% include "list-pages.html" %}
            {% if not organization %}
                <form id="search-form" name="form" action="{{ url('user_ranking_redirect') }}" method="get">
                    <input id="search-handle" type="text" name="search" placeholder="{{ _('Search by handle...') }}">
                </form>
            {% endif %}
        </div>
    {% endif %} -->
    #}
    {% if page_obj %}
    {# <!-- <div class="control-bar">
        <div class="top-pagination-bar">
            <form id="search-form" name="form" action="{{ url('user_ranking_redirect') }}" method="get">
                <input id="search-handle" type="text" name="search" placeholder="{{ _('Search by handle...') }}">
            </form>
        </div>
    </div> --> #}
    {% endif %}

    <div id="common-content" style="flex-direction: column;">
        {% block users_table %}{% endblock %}
    </div>

    {% if page_obj and page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">
            {% include "list-pages.html" %}
        </div>
    {% endif %}
{% endblock %}
