.comment-score {
  font-weight: bold;
  text-align: center;
}

a.upvote-link, a.downvote-link {
  color: #fff;
}
a.voted {
  text-shadow: 0 0 4px #fff, 0 0 9px blue;
}

.no-comments-message {
  margin: 10px 0 15px 2.75em;
}

.comment-header-space {
  height: 20px;
}

.comment-lock {
  margin: 0 0 5px;
}

.comments.top-level-comments {
  padding: 0;
  margin: 0 0 5px;
}

.comment-spacer {
  flex: 1;
}

.comment-edits:not(:empty) {
  padding-right: 2px;
  color: #ccc;
}

.comment-operation {
  flex: auto;
}
.comment-operation .fa {
  color: #ccc;
}
.comment-operation a + a {
  padding-left: 2px;
}

.form-area.comment-submit {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  box-sizing: border-box;
}

.comment-post-wrapper {
  padding-bottom: 5px;
}
.comment-post-wrapper input, .comment-post-wrapper textarea {
  min-width: 100%;
  max-width: 100%;
  font-size: 14px;
}

.comment {
  list-style: none none;
  border-radius: 4px;
  margin: 0 0 5px;
}
.comment:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

.reply-comment {
  margin: 0 0 5px;
}

.comment-body {
  word-wrap: break-word;
  word-break: break-word;
}

.previous-revision, .next-revision {
  color: #ccc;
}

.new-comments .comment-display {
  display: flex;
  padding-left: 1em;
  padding-top: 0.5em !important;
  border: 1px solid #3b3b3b;
  background: #080808;
  border-radius: 4px;
}
.new-comments .comment .detail {
  margin: 0px 15px 0px;
  width: 100%;
}
.new-comments .comment .detail .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px 0px;
  font-weight: normal;
  border-bottom: 1px #808080 solid;
  color: #808080;
  text-align: right;
}
.new-comments .comment:target > .comment-display {
  border: 1px solid #2980B9;
  border-left: 10px solid #2980B9;
  padding-left: 5px;
}
.new-comments .comment-edits {
  padding-right: 0.75em;
}
.new-comments .header i {
  color: #808080 !important;
}
.new-comments .info {
  padding-top: 0.4em;
  display: flex;
}
.new-comments .gravatar {
  width: 75px;
  max-width: 75px;
}
.new-comments .gravatar-mobile {
  display: none;
}
.new-comments .gravatar-main {
  display: unset;
}
.new-comments .vote {
  margin-right: 1em;
  height: 75px;
  padding-top: 0.4em;
}
@media (max-width: 760px) {
  .new-comments .gravatar {
    width: 10px;
    max-width: 10px;
  }
  .new-comments .gravatar-mobile {
    display: unset;
  }
  .new-comments .gravatar-main {
    display: none;
  }
  .new-comments .vote {
    margin-right: 0em;
  }
}

.bad-comment {
  opacity: 0.3;
}
.bad-comment:hover {
  opacity: 1;
  /* This is necessary to prevent random flickering */
  transform: translatez(0);
}

#comments {
  display: none;
}

.comment-post-wrapper {
  width: 100%;
  margin-right: 10px;
}

.form-area.comment-submit {
  padding: 10px;
  margin: 0;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.new-comments .comment-display {
  display: flex;
  padding-left: 1em;
  padding-top: 0.5em !important;
  border: 1px solid;
  border-color: #fff #fff var(--border-color) #fff;
  border-radius: 0;
  background: none;
  justify-content: space-between;
  flex: 1;
}

.new-comments img.user-gravatar {
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: 100%;
  margin-top: 0;
}

.new-comments .comment .detail .header {
  border-bottom: none;
  margin-top: 10px;
}
.new-comments .comment .detail .header span {
  font-size: 16px;
}
.new-comments .comment .detail .header .time-with-rel {
  font-size: 12px;
  margin: 4px;
}

.comment-submit-form {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  justify-content: flex-start;
}

.wmd-input {
  height: 80px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.wmd-input:hover {
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.wmd-input:focus {
  box-shadow: none;
  border-color: #9FCDF2;
  outline: 0;
}

.comment-area {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  margin-top: 32px;
}

.comment-submit-button {
  background-color: rgba(217, 217, 217, 0.2196078431);
  border: 1px solid var(--border-color);
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-tag {
  background-color: rgba(217, 217, 217, 0.4117647059);
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  margin-right: 10px;
}
.comment-tag i {
  margin-left: 20px;
}

.comment-score {
  margin: 8px 0;
}

.vote {
  padding-top: 0;
}

.info {
  padding-bottom: 0.5em;
}

.issue-report {
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 10px;
}

.comment-header-space {
  height: 10px;
}

.content-description p {
  margin: 3px 0 !important;
}

/*# sourceMappingURL=comments.css.map */
