#contest-calendar {
  border-collapse: collapse;
  width: 100%;
}
#contest-calendar th {
  border: 1px solid #3b3b3b;
  background: #080808;
}
#contest-calendar td {
  height: 110px;
  width: 170px;
  vertical-align: top;
  border: 1px solid #3b3b3b;
  transition-duration: 0.2s;
}
#contest-calendar td .num {
  text-align: right;
  font-weight: bold;
  display: block;
  border-bottom: 1px dashed #3b3b3b;
  padding-right: 0.2em;
  margin-bottom: 0.4em;
}
#contest-calendar td ul {
  font-size: 0.75em;
  padding: 0;
  margin: 0;
}
#contest-calendar td ul li {
  margin: 0 0 0.2em 17px;
}
#contest-calendar td ul li i.fa {
  color: #960;
}
#contest-calendar td ul li a {
  color: #ccc;
}
#contest-calendar td ul li a:hover {
  text-decoration: underline;
}
#contest-calendar td:hover {
  background: rgba(85, 153, 255, 0.2);
}
#contest-calendar .noday {
  background: #111;
}
#contest-calendar .today {
  background: rgba(153, 102, 0, 0.2);
}

#banner {
  border-bottom: 1px solid #3b3b3b;
  padding-bottom: 1em;
  color: #ccc;
  font-size: 14px;
}
#banner a.date {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 1.3;
  font-size: 2.3em;
  padding-bottom: 0.15em;
  color: #06d;
}
#banner a.date:hover {
  color: #59f;
}
#banner a.date:active {
  color: #960;
}
#banner #time {
  text-align: center;
  display: block;
}
#banner div#details ul {
  margin-bottom: 0;
  list-style: none;
}
#banner div#details ul p {
  margin: 0;
}

.contest-list td {
  vertical-align: middle !important;
}
.contest-list td:nth-child(2) {
  min-width: 4em;
}
.contest-list td:nth-child(3) {
  min-width: 6em;
}
.contest-list tbody tr {
  height: 4em;
}
.contest-list .time-left {
  text-align: left;
  color: #808080;
  padding-top: 0.5em;
}
.contest-list .contest-tags {
  padding-left: 0.75em;
  vertical-align: top;
}
.contest-list .participate-button {
  display: inline-block;
  width: 90px;
}
.contest-list .contest-block {
  text-align: left;
  padding: 0.5em 0.5em 0.5em 1em;
}
.contest-list a.contest-sort-link {
  color: #000;
}

.contest-tag {
  box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.12);
  padding: 0.15em 0.3em;
  border-radius: 0.15em;
  font-weight: 600;
  margin-right: 0.45em;
  position: relative;
}

.contest-list-title {
  font-size: 18px;
  font-weight: 600;
}

form.contest-join-pseudotab {
  display: inline;
  padding: 6px 8px !important;
  line-height: 1.7em;
  margin-left: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
form.contest-join-pseudotab input {
  display: inline;
  border: none;
  padding: 0;
  background: none;
  font-weight: 600;
}

.contest-participation-operation {
  float: right;
  padding: 0 5px;
}
.contest-participation-operation .fa {
  color: #ccc;
}
.contest-participation-operation a + a {
  padding-left: 1px;
}

body:has(#banner) #content {
  margin: 50px auto 0;
  width: 1040px;
}
body:has(#banner) .title-area {
  margin-bottom: 28px;
}

.contest-info {
  width: 100%;
  margin: auto;
}
.contest-info .header {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}
.contest-info #banner {
  padding-top: 50px;
  margin-bottom: 50px;
  border: none;
}
.contest-info #banner #time {
  font-size: 14px;
  font-weight: 500;
  color: #8391A1;
  margin-top: 20px;
}
.contest-info #banner #num-participants {
  font-size: 14px;
  font-weight: 500;
  color: #8391A1;
  margin-top: 20px;
  text-align: center;
}
.contest-info .content-description .content-description-box {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #FFF;
}
.contest-info .contest-problems .table-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 30px;
}
.contest-info .contest-problems .table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  margin: 0;
  background-color: #FFF;
}
.contest-info .contest-problems .table th {
  height: 40px;
  color: black;
  background: rgba(0, 0, 0, 0.03);
  border: none;
  font-weight: 500;
  font-size: 13px;
  padding: 0;
}
.contest-info .contest-problems .table tr td {
  height: 40px;
  color: black;
  font-weight: 400;
  font-size: 13px;
  border: none;
  padding: 0;
}
.contest-info .contest-problems .table tr td a {
  color: black;
}
.contest-info .contest-problems .table.striped tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.02);
}
.contest-info .contest-problems .table .icon {
  width: 5%;
}
.contest-info .contest-problems .table .id {
  width: 7%;
}
.contest-info .contest-problems .table .problem {
  width: 63%;
  text-align: left;
  padding-left: 20px;
}
.contest-info .contest-problems .table .points {
  width: 8%;
}
.contest-info .contest-problems .table .ac-rate {
  width: 9%;
}
.contest-info .contest-problems .table .users {
  width: 8%;
}
.contest-info .contest-problems .table tbody .points {
  color: #78C0B9;
}

#banner a.date {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 1.3;
  font-size: 2.3em;
  padding-bottom: 0.15em;
  color: var(--font-black);
  transition: color 0.3s ease;
}
#banner a.date .time-remaining {
  color: #5C95D9;
}
#banner a.date:hover, #banner a.date:active {
  color: var(--primary-hover-color);
}

form.contest-join-pseudotab {
  background: none;
  background-color: #5C95D9;
  margin-left: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #5C95D9;
}

.comment-submit-form input[type=submit] {
  width: 80px;
  background: none;
  background-color: #5C95D9;
  color: #FFF;
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.comment-submit-form input[type=submit]:hover {
  background-color: #5288C8;
  color: #FAFAFA;
}

.comment-display .detail .header {
  margin-bottom: 0;
}

.lock-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: #7e7e7e;
  stroke: #7e7e7e;
}

.attempted-problem-color {
  color: #D95C5C;
}

#access-code-form {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#access-code-form h2 {
  font-size: 24px;
  margin: 0 auto 20px;
}
#access-code-form p {
  margin: 0 auto;
  width: 100%;
}
#access-code-form input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
#access-code-form button, #access-code-form a.button {
  width: 100%;
  background-color: #5C95D9;
  display: block;
  border-radius: 8px;
  border: 1px solid #5C95D9;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  height: 40px;
  box-sizing: border-box;
}
#access-code-form button:hover, #access-code-form a.button:hover {
  background-color: #9FCDF2;
}

body:has(#contest-clone-panel) #page-container {
  background: #FFF !important;
}
body:has(#contest-clone-panel) footer {
  background: #FFF !important;
}
body:has(#contest-clone-panel) .title-box {
  display: none;
}
body:has(#contest-clone-panel) #content {
  margin: 50px auto 0;
}
body:has(#contest-clone-panel) #content-body {
  display: flex;
  justify-content: center;
}

#contest-clone-panel {
  width: 350px;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 10px;
  margin: 0 auto;
  background: none;
}
#contest-clone-panel input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
#contest-clone-panel button, #contest-clone-panel a.button {
  background-color: #5C95D9;
  display: block;
  border-radius: 8px;
  border: 1px solid #5C95D9;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  height: 40px;
  box-sizing: border-box;
}
#contest-clone-panel button:hover, #contest-clone-panel a.button:hover {
  background-color: #9FCDF2;
}

.key-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.key-container .inline-header.grayed {
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  align-items: center;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.modal_window {
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 380px;
  height: 210px;
  position: relative;
  padding: 10px;
}

.modal_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5em;
  font-size: 20px;
}

.modal_title_side {
  flex: 0 0 20px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.modal_content {
  width: 266px;
  margin: 0 auto;
}

#contest-code-title, #join-contest-code-title {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}

#contest-code, #contest-code-button,
#join-contest-code, #join-contest-submit {
  width: 266px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.contest-entry {
  display: none;
}

#contest-modal, #join-contest-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.panes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pane {
  padding: 20px;
}

.jplag-tooltip {
  position: relative;
}
.jplag-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -6px);
  background: #222;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 10;
  font-size: 12px;
}
.jplag-tooltip:hover::after {
  opacity: 1;
}

body:has(.contest-group-container) .content-body-box {
  background-color: #f9fafb;
  font-family: "Pretendard";
  width: 100%;
}
body:has(.contest-group-container) #content-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
body:has(.contest-group-container) .content-description {
  width: 80%;
  flex: 1;
}
body:has(.contest-group-container) .contest-list tbody tr {
  height: 100px;
}
body:has(.contest-group-container) .contest-list td {
  padding: 7px 5px;
  vertical-align: middle;
}
body:has(.contest-group-container) .contest-list td:last-child {
  width: 150px;
}
body:has(.contest-group-container) .table {
  border-spacing: 0;
  width: 100%;
  background: rgb(255, 255, 255);
}
body:has(.contest-group-container) .table td {
  border-top: 1px solid rgba(217, 217, 217, 0.5);
  border-right: none;
  border-left: none;
  border-bottom: none;
}
body:has(.contest-group-container) .table tr:first-child td {
  border: none;
}
body:has(.contest-group-container) .table.striped tr:nth-child(even) {
  background: none;
}
body:has(.contest-group-container) table.active tr td {
  background: linear-gradient(90deg, rgba(159, 205, 242, 0.2) 0.62%, rgba(167, 231, 244, 0) 100.62%);
}
body:has(.contest-group-container) .button, body:has(.contest-group-container) button, body:has(.contest-group-container) input[type=submit] {
  width: 100px;
  height: 32px;
  border-radius: 10px;
  background: var(--primary-color, #5C95D9);
  color: white;
  border: none;
  font-size: 14px;
  font-family: Pretendard;
  line-height: 17.5px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 6px 12px;
  text-decoration: none !important;
  cursor: pointer;
}
body:has(.contest-group-container) label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
body:has(.contest-group-container) label .material-symbols-outlined {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 24px;
  color: #D9D9D9;
}

.contest-head-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.contest-contents {
  display: flex;
  flex-direction: column;
}

.contest-time {
  display: flex;
  color: var(--font-grey);
  margin-left: 4px;
  padding-top: 0.5em;
}

.text-align {
  padding-top: 2px;
  font-size: 18px;
  color: var(--font-basic-black);
}
.text-align a {
  color: var(--font-basic-black);
  text-decoration: none;
  transition: color 0.3s ease;
}
.text-align a:hover {
  color: var(--primary-color);
}

.contest-div {
  background-color: white;
  border-radius: 10px;
  padding: 18px 24px 12px;
  margin: 0 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.content-description h4 {
  border-bottom: none;
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--font-basic-black);
}

.contest-group-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  color: #8391A1;
  list-style-type: none;
  border-radius: 10px;
  visibility: hidden;
}

.contest-group-list {
  width: 100%;
}

.contest-group-item {
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.contest-group-item:hover {
  background-color: rgba(217, 217, 217, 0.2117647059);
}
.contest-group-item input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.contest-group-item input[type=checkbox]:checked + label .material-symbols-outlined {
  border: none;
  background: #FFFFFF;
  color: var(--LITMUS-primary, #5C95D9);
  border-radius: 50%;
}
.contest-group-item input[type=checkbox]:checked + label .fa-regular.fa-circle::before {
  content: "\f058";
  font-weight: 900;
}
.contest-group-item label {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contest-group-item.active {
  background-color: rgba(217, 217, 217, 0.2117647059);
  color: #373D47;
}
.contest-group-item.active label {
  color: #373D47;
}

.event-bar {
  width: 8px;
  height: 42px;
  margin-right: 8px;
}

.contest-block {
  display: flex;
  font-family: "Pretendard";
  padding: 0.5em 0.5em 0.5em 1em;
}

.activity {
  background: linear-gradient(180deg, #9fcdf2 0%, #a7e7f4 100%);
}

.upcoming {
  background: linear-gradient(360deg, #FFD9A0 0%, #9FCDF2 100%);
}

.past {
  background: linear-gradient(360deg, #123B63 0%, #9FCDF2 100%);
}

#users-table {
  table-layout: fixed;
}

#users-table .username {
  min-width: 20em;
}
#users-table .rating-column {
  min-width: 3em;
}
#users-table td {
  height: 2.5em;
}
#users-table a {
  display: block;
}
#users-table th a:hover {
  color: #0F0;
}
#users-table td a:hover {
  text-decoration: underline;
}

.userinfo a, .user-name a, .user-name form {
  display: inline-block !important;
}

.rank {
  min-width: 2.5em;
}

.disqualified {
  background-color: #ffa8a8 !important;
}

.full-score, .full-score a {
  font-weight: 600;
  font-size: 16px;
  color: green;
}

.partial-score, .partial-score a {
  font-weight: 600;
  font-size: 16px;
  color: #ffa500;
}

.failed-score, .failed-score a {
  font-weight: 600;
  font-size: 16px;
  color: red;
}

.pretest-full-score, .pretest-full-score a {
  font-weight: bold;
  color: #2980b9;
}

.pretest-partial-score, .pretest-partial-score a {
  color: yellow;
}

.pretest-failed-score, .pretest-failed-score a {
  font-weight: bold;
  color: red;
}

.user-points, .user-points a {
  font-weight: bold;
  color: black;
}

.solving-time {
  color: #8391A1;
  font-weight: 400;
  font-size: 10px;
}

.point-denominator {
  font-weight: 600;
  font-size: 16px;
}

.start-time {
  display: none;
}

.user-name {
  position: relative;
}

.organization-column {
  display: none;
  text-align: left !important;
  border-right: none !important;
}
.organization-column a {
  color: gray !important;
  font-weight: 600;
}

.select2-selection__arrow {
  display: none;
}

.select2-selection__rendered {
  cursor: text;
  overflow: initial !important;
}

.select2-results__option--highlighted {
  background-color: #DEDEDE !important;
}

.select2-results__option {
  white-space: nowrap;
}

.select2-selection__placeholder {
  color: var(--font-grey);
}

#search-contest, #search-contest + .select2 {
  margin-top: 0.5em;
}

#search-contest {
  width: 250px;
  height: 35px;
}

.users-table .header.first_name {
  text-align: center !important;
  width: 10% !important;
}
.users-table .user-first_name {
  text-align: center !important;
}
.users-table .header.rank {
  width: 5% !important;
}
.users-table tbody .user-information {
  display: none;
}

.balloon-header {
  width: 16%;
  text-align: center;
}

.balloon-cell {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
}

.h-scrollable-table {
  overflow: auto !important;
}

.top-pagination-bar .select2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.top-pagination-bar .select2-selection {
  width: 250px !important;
  height: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: none !important;
  border-radius: 8px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff !important;
  transition: box-shadow 0.2s ease;
}
.top-pagination-bar .select2-selection:hover {
  box-shadow: 0 4px 6px rgba(82, 168, 236, 0.15);
}
.top-pagination-bar input[type=text] {
  background-color: #fff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.chart {
  margin: 10px 0;
}

body:has(.contest-jplag) input[type=submit].contest-jplag {
  width: auto;
  background: none;
  background-color: #5C95D9;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body:has(.contest-jplag) input[type=submit].contest-jplag:hover {
  background-color: #5288C8;
  color: #FAFAFA;
}
body:has(.contest-jplag) input[type=submit].contest-jplag-delete {
  width: auto;
}
body:has(.contest-jplag) .table {
  box-sizing: border-box;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--border-color);
}
body:has(.contest-jplag) .table thead th {
  height: 25px;
  background-color: white;
  color: black;
  padding: 7px 10px;
  font-weight: normal;
}
body:has(.contest-jplag) .table th, body:has(.contest-jplag) .table td {
  height: 25px;
  border: none;
  border-radius: 0;
  border-top: 1px solid var(--border-color);
  vertical-align: middle;
  text-align: center;
}
body:has(.contest-jplag) .table thead th.header {
  border: none;
}
body:has(.contest-jplag) .table th:first-child {
  border-top-left-radius: 10px !important;
  padding-left: 3px;
}
body:has(.contest-jplag) .table th:last-child {
  border-top-right-radius: 10px !important;
}

/*# sourceMappingURL=contest.css.map */
