form#ticket-form {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  padding-top: 1em;
}
form#ticket-form #id_title {
  width: 100%;
}
form#ticket-form .submit {
  margin: 10px 0 0 auto;
}

#ticket-list .fa-check-circle-o {
  color: #44AD41;
}
#ticket-list .fa-exclamation-circle {
  color: #DE2121;
}

@media (min-width: 600px) {
  #ticket-list-container {
    display: flex;
    flex-direction: row-reverse;
  }
  #ticket-list-container > main {
    flex: 1;
  }
  #ticket-list-container > aside {
    flex: 1;
    max-width: 200px;
    margin-left: 1em;
  }
  #ticket-list-container > aside > div {
    position: sticky;
    top: 60px;
  }
}
div.ticket-title {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
}
div.ticket-title .fa-check-circle-o {
  color: #44AD41;
}
div.ticket-title .fa-exclamation-circle {
  color: #DE2121;
}
div.ticket-title small {
  color: #808080;
  font-size: 0.9em;
}

.ticket-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  max-width: 1000px;
}

.ticket-sidebar {
  flex: 1;
  padding: 10px 0 0 10px;
  min-width: 150px;
  max-width: 200px;
}

.ticket-info {
  position: sticky;
  top: 60px;
}

.ticket-messages {
  flex: 1;
}

.info-box {
  margin: 5px 0 10px;
  border: 1px #808080 solid;
  border-radius: 5px;
}
.info-box a.edit-notes {
  float: right;
}
.info-box .fa {
  color: #808080;
}

.info-title {
  padding: 2px 5px;
  font-weight: 600;
  border-bottom: 1px #808080 solid;
  background: #111;
  border-radius: 5px 5px 0 0;
}

.info-data {
  padding: 2px 5px;
}

.info-empty {
  color: #808080;
  font-style: italic;
}

.close-ticket {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, #4bad00 0%, #278811 100%);
  border-color: #24710e;
  font-weight: 600;
}
.close-ticket:hover {
  background: #24710e;
}

.open-ticket {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, #ff130f, #b03d17);
  border-color: #853011;
  font-weight: 600;
}
.open-ticket:hover {
  background: #853011;
}

#ticket-notes .info-real :first-child {
  margin-top: 0;
}

#ticket-notes .info-real :last-child {
  margin-bottom: 0;
}

.ticket-message {
  display: flex;
  padding-top: 15px;
}
.ticket-message .info {
  width: 130px;
}
.ticket-message .gravatar {
  width: 80px;
  display: block;
  margin: 0 auto;
}
.ticket-message .detail {
  border: 1px #808080 solid;
  border-radius: 5px;
  flex: 1;
  min-width: 300px;
}
.ticket-message .header {
  background: #111;
  border-bottom: 1px solid #808080;
  border-radius: 5px 5px 0 0;
  padding: 2px 5px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ticket-message .operation {
  flex: auto;
}
.ticket-message .operation .fa {
  color: #808080;
}
.ticket-message .content {
  padding: 7px;
}
.ticket-message .content > :first-child {
  margin-top: 0;
}
.ticket-message .content > :last-child {
  margin-bottom: 0;
}

.new-message .detail {
  padding: 8px 10px;
}

.new-message .submit, #edit-notes .submit {
  margin: 10px 0 0 auto;
}

body:has(#ticket-list-container) .title-div {
  display: none;
}
body:has(#ticket-list-container) .h-scrollable-table {
  overflow-x: auto;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--border-color);
}
body:has(#ticket-list-container) .container-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
body:has(#ticket-list-container) .container-box .filter-check {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 12px 6px 8px;
  background-color: #FFFFFF;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  order: 0;
  flex-grow: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
body:has(#ticket-list-container) #hide-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  padding: 5px 15px;
  cursor: pointer;
  background: #FFFFFF;
}
body:has(#ticket-list-container) #hide-checkbox input[type=checkbox] {
  display: none;
}
body:has(#ticket-list-container) #hide-checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
body:has(#ticket-list-container) #hide-checkbox .checkbox-svg {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
body:has(#ticket-list-container) #hide-checkbox .text {
  color: #8391A1;
  font-weight: 400;
  line-height: 1;
}
body:has(#ticket-list-container) #hide-checkbox input[type=checkbox]:checked + label .text {
  color: #000000;
}
body:has(#ticket-list-container) input[type=checkbox]:checked + label .checkbox-svg path {
  fill: rgb(92, 149, 217);
}
body:has(#ticket-list-container) .filter-select2 select {
  width: 100%;
}
body:has(#ticket-list-container) .filter-btn {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid rgba(92, 149, 217, 0.3607843137);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color: #000000;
  background: rgba(92, 149, 217, 0.07);
  font-weight: 300;
  font-family: Pretendard;
}
body:has(#ticket-list-container) .filter-btn:hover {
  background-color: #E0E0E0;
}
body:has(#ticket-list-container) .filter-btn .arrow {
  margin-left: 5px;
}
body:has(#ticket-list-container) .filter-select2 {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background: #FFFFFF;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
  z-index: 1;
}
body:has(#ticket-list-container) .filter-btn.show .filter-select2 {
  display: block;
}
body:has(#ticket-list-container) .filter-btn.show .arrow {
  transform: rotate(180deg);
}
body:has(#ticket-list-container) main {
  flex-grow: 1;
}
body:has(#ticket-list-container) table.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0 !important;
  border-right: none;
}
body:has(#ticket-list-container) table.table th, body:has(#ticket-list-container) table.table td {
  padding: 10px;
  text-align: center;
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #17171B;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: none;
}
body:has(#ticket-list-container) table.table th {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-top: 1px solid var(--border-color);
  border-style: none !important;
}
body:has(#ticket-list-container) table.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
body:has(#ticket-list-container) table.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
body:has(#ticket-list-container) #ticket-list > tbody > tr:nth-child(even) {
  background: rgba(217, 217, 217, 0.03);
}
body:has(#ticket-list-container) table.table.striped tr:nth-child(odd) {
  background: #FFFFFF;
}
body:has(#ticket-list-container) .top-pagination-bar, body:has(#ticket-list-container) .bottom-pagination-bar {
  text-align: center;
  margin: 10px 0;
}

/*# sourceMappingURL=ticket.css.map */
