{% extends "organization/common-content.html" %}

{% block content_media %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(function () {
            $('.leave-organization').click(function () {
                return confirm('{{ _('Are you sure you want to leave this organization?') }}\n' +
                    {% if organization.is_open %}
                        '{{ _('You will have to rejoin to show up on the organization leaderboard.') }}'
                    {% else %}
                        '{{ _('You will have to request membership in order to join again.') }}'
                    {% endif %}
                );
            });
        });
    </script>
{% endblock %}



{% block description %}
    {% cache 3600 'organization_html' organization.id MATH_ENGINE %}
        {{ organization.about|markdown('organization-about', MATH_ENGINE)|reference|str|safe }}
    {% endcache %}

    {% if classes %}
        <hr>
        <table class="table striped class-list">
            <thead><tr><th>{{ _('Class') }}</th><th></th></tr></thead>
            <tbody>
                {% for class in classes %}
                    <tr>
                        <td>
                            <a href="{{ class.get_absolute_url() }}">{{ class.name }}</a>
                            <div class="class-description">{{ class.description }}</div>
                        </td>
                        <td>{% if class.joined %}
                            {{ _('Joined') }}
                        {% else -%}
                            <a class="button" href="{{ class.get_join_url() }}">{{ _('Request to join') }}</a>
                        {%- endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
