{% extends "user/base-users.html" %}
{% block users_media %}
    {% if is_admin %}
        <style>#users-table td:nth-child(3), #users-table th:nth-child(3) {
            border-right: none;
        }
        </style>
    {% endif %}
{% endblock %}

{% block users_js_media %}
    <script type="text/javascript">
        $(function () {
            $('form.kick-form').find('a.button').click(function () {
                if (confirm("{{ _('Are you sure you want to kick this user?') }}")) {
                    $(this).parent().submit();
                }
                return false;
            })
        });
    </script>
{% endblock %}

{% block users_table %}{% include "organization/users-table.html" %}{% endblock %}
