{% extends "base.html" %}

{% block media %}
{% endblock %}

{% block body %}
    <form id="access-code-form" action="" method="post" class="form-area">
        {% csrf_token %}
        {% if form.errors or wrong_code %}
            <div id="form-errors">
                <p class="error">{{ _('Invalid access code.') }}</p>
            </div>
        {% endif %}
        <h2>접근 코드 입력</h2>
        <p>{{ form.access_code }}</p>
        <p class="button-line">
            <button type="submit">{{ _('Join Contest') }}</button>
        </p>
    </form>
{% endblock %}
