{% extends "base.html" %}

{% block media %}
{% endblock %}

{% block body %}
    <form id="contest-clone-panel" action="" method="post" class="form-area">
        {% csrf_token %}
        {% if form.errors %}
            <div id="form-errors">
                {{ form.name.errors }}
            </div>
        {% endif %}

        <!-- <div>
            <label class="inline-header grayed">{{ _('Enter a new key for the cloned contest:') }}</label>
        </div> -->
        <div class="key-container">
            <label class="inline-header grayed">{{ _('새로운 대회 이름을 입력해주세요.') }}</label>
        </div>
        <div id="contest-key-container"><span class="fullwidth">{{ form.name }}</span></div>
        <button style="float: right;" type="submit">{{ _('Clone!') }}</button>
    </form>
{% endblock %}
