{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
{% set tab = 'jplag' %}
{% set title = contest.name %}
{% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_media %}
{% endblock %}

{% block content_js_media %}
<script type="text/javascript">
    $(function () {
        $('.contest-jplag').click(function () {
            return confirm('{{ _('Are you sure you want to run JPlag for the contest?') }}');
        });
        $('.contest-jplag-delete').click(function () {
            return confirm('{{ _('Are you sure you want to delete the JPlag results?') }}');
        });
    });
</script>
{% endblock %}
{% block body %}
{% if has_results %}
<table class="table striped">
    <thead>
        <tr>
            <th class="header">{{ _('Problem') }}</th>
            {% for lang in languages %}
            <th class="header">{{ lang }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for problem, results in jplag_results %}
        <tr id="problem-{{ problem.code }}">
            <td>
                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.name }}</a>
            </td>
            {% for result in results %}
            <td>
                {% if result.submission_count %}
                <a href="{{ result.url }}">{% trans trimmed count=result.submission_count %}
                    {{ count }} submission
                    {% pluralize %}
                    {{ count }} submissions
                    {% endtrans %}</a>
                {% else %}
                {{ _('No submissions') }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="panes">
    <div class="pane">
        <form method="post" action="{{ url('practice_jplag', contest.key) }}">
            {% csrf_token %}
            <input type="submit" class="unselectable button full contest-jplag" style="padding: 10px;"
                value="{% if has_results %} 제출물 표절 검사 다시 하기 {% else %} 제출물 표절 검사 하기 {% endif %}">
        </form>
    </div>
    {% if has_results %}
    <div class="pane">
        <form method="post" action="{{ url('practice_jplag_delete', contest.key) }}">
            {% csrf_token %}
            <input type="submit" class="unselectable button full contest-jplag-delete" style="padding: 10px;"
                value="표절 검사 결과 삭제">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
