.button, button, input[type=submit] {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.4;
  background: rgb(51, 122, 183) none repeat scroll 0 0%/auto padding-box border-box;
  background: linear-gradient(to bottom, #337ab7 0, #265a88 100%) repeat-x;
  border-radius: 4px;
  padding: 6px 12px;
  display: block;
  border: 1px solid #245580;
  text-align: center;
  font-size: 14px;
}
.button:hover, button:hover, input[type=submit]:hover {
  background: #265a88;
}
.button:active, button:active, input[type=submit]:active {
  border-color: #245580;
  background: #265a88;
}
.button.full, button.full, input[type=submit].full {
  padding: 6px 0;
}
.button.disabled, button.disabled, input[type=submit].disabled {
  background: linear-gradient(to bottom, darkgray 0, gray 100%) repeat-x !important;
  border-color: grey !important;
  cursor: not-allowed;
}

.inline-button {
  display: inline;
  vertical-align: top;
  padding: 3px 6px;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  padding: 4px 8px;
  color: #3b3b3b;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-sizing: border-box;
  font-size: 14px;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}
input[type=number] {
  padding: 2px 0 2px 5px;
}
input[type=checkbox] {
  vertical-align: middle;
}

textarea {
  padding: 4px 8px;
  color: #3b3b3b;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-sizing: border-box;
}

textarea:hover {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
}

textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

#judge-versions .version {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
#judge-versions .version-blank {
  background: #eee;
}
#judge-versions .version-latest {
  background: rgba(170, 255, 51, 0.8);
  color: black;
}
#judge-versions .version-outdated {
  background: rgba(255, 0, 0, 0.8);
  color: white;
}
#judge-versions tr:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 43px;
}

.django-as-table {
  text-align: left;
}
.django-as-table th {
  vertical-align: top;
  padding-top: 4px;
}

.centered-form {
  max-width: 700px;
  margin: auto;
}
.centered-form .submit-bar {
  float: right;
}

@media (min-width: 700px) {
  .xs-br {
    display: none;
  }
}
.auth-flow-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
}
