.AC {
  background-color: #53f23f;
  color: green;
}

.WA {
  background-color: #CCC;
  color: #ef1b53;
}

.TLE, .MLE {
  background-color: #CCC;
  color: black;
}

.OLE, .IR, .RTE, .OTH {
  background-color: #FAB623;
  color: black;
}

.CE {
  background-color: #CCC;
  color: black;
}

.IE {
  background-color: red;
  color: black;
}

.QU, .G {
  background: white;
  color: black;
}

.case-AC {
  color: green;
  font-weight: bold;
}

.case-TLE, .case-SC {
  color: gray;
  font-weight: bold;
}

.case-MLE, .case-OLE, .case-RTE, .case-IR {
  color: orange;
  font-weight: bold;
}

.case-bad {
  text-decoration: underline;
}
