/* :root CSS 변수 - base.html에서 추출 */
:root {
    --primary-color: #5C95D9;
    --secondary-color: #9FCDF2;
    --primary-hover-color: #5288C8;
    --white-hover-color: #FAFAFA;
    --font-black: #17171B;
    --font-basic-black: #373D47;
    --font-dark-grey: #495057;
    --font-grey: #8391A1;
    --border-color: rgba(0, 0, 0, 0.07);
    --border-secondary: #e5e5e5;
    --background-second: #f9fafb;
    --standard-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    --hover-background-color: #D9D9D936;
}
