{% extends "base.html" %}

{% block media %}
    {% block content_media %}{% endblock %}
{% endblock %}

{% block js_media %}
    {% compress js %}
        <script type="text/javascript">
            $(function () {
                var info_float = $('.info-float');
                if (info_float.length) {
                    var container = $('#content-right');
                    if (!featureTest('position', 'sticky')) {
                        fix_div(info_float, 55);
                        $(window).resize(function () {
                            info_float.width(container.width());
                        });
                        info_float.width(container.width());
                    }
                }

                window.add_code_copy_buttons = function ($container) {
                    $container.find('pre code').each(function () {
                        var $pre = $(this).parent();
                        
                        // 오버레이 복사 버튼 생성
                        var copyButton = $('<button>', {
                            'type': 'button',
                            'class': 'copy-btn-overlay',
                            'title': '{{ _('Click to copy') }}',
                            'html': '<i class="fa fa-copy"></i>'
                        });
                        
                        // pre 태그에 relative 포지션 추가
                        $pre.css('position', 'relative');
                        
                        // 복사 버튼을 pre 태그 내부에 추가
                        $pre.append(copyButton);
                        
                        // 복사 기능 구현
                        copyButton.on('click', function() {
                            var codeText = $(this).closest('pre').find('code').text();
                            var $button = $(this);
                            
                            if (navigator.clipboard && window.isSecureContext) {
                                // 최신 브라우저용 Clipboard API
                                navigator.clipboard.writeText(codeText).then(function() {
                                    showCopySuccess($button);
                                }).catch(function(err) {
                                    console.error('복사 실패:', err);
                                    fallbackCopyTextToClipboard(codeText, $button);
                                });
                            } else {
                                // 구형 브라우저용 fallback
                                fallbackCopyTextToClipboard(codeText, $button);
                            }
                        });
                    });
                };
                
                function fallbackCopyTextToClipboard(text, button) {
                    var textArea = document.createElement("textarea");
                    textArea.value = text;
                    textArea.style.position = "fixed";
                    textArea.style.left = "-999999px";
                    textArea.style.top = "-999999px";
                    document.body.appendChild(textArea);
                    textArea.focus();
                    textArea.select();
                    
                    try {
                        var successful = document.execCommand('copy');
                        if (successful) {
                            showCopySuccess(button);
                        } else {
                            alert('복사에 실패했습니다.');
                        }
                    } catch (err) {
                        console.error('복사 실패:', err);
                        alert('복사에 실패했습니다.');
                    }
                    
                    document.body.removeChild(textArea);
                }
                
                function showCopySuccess(button) {
                    var originalIcon = button.html();
                    button.html('<i class="fa fa-check"></i>');
                    button.css('color', '#4CAF50');
                    
                    // 2초 후 원래 아이콘으로 복원
                    setTimeout(function () {
                        button.html(originalIcon);
                        button.css('color', '#6c757d');
                    }, 2000);
                }
                
                window.add_code_copy_buttons($(document));
            });
        </script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="content-bg"></div>
    <div id="common-content">

        <div id="content-right">
            <div class="info-float">{% block info_float %}{% endblock %}</div>
        </div>
        <div id="content-left" class="split-common-content">
            <div class="content-description screen">
                {% block description %}{% endblock %}
                {% block description_end %}
                {% endblock %}
                {% block post_description_end %}{% endblock %}
            </div>
            {% block comments %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
